@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Product Sans';
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  padding: 0 25px;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}

.header p {
  margin: 0;
  font-size: 16px;
  padding-top: 15px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  font-size: 14px;
  color: #1a73e8;
  font-weight: bold;
  padding-top: 10px;
  text-decoration: none;  
}

.input {
  padding: 15px 15px;
  font-size: 16px;
  color: #202124;
  border-radius: 4px;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.input:focus {
  outline-color:#1a73e8;
}

.nodisplay {
  display: none;
}

.placeholder {
  font-size: 12px;
  position: absolute;
  margin: 0;
  text-align: center;
  top: -7px;
  left: 8px;
  font-size: 12px;
  padding: 0px 8px;
  background-color: white;
  color:#5f6368;
  border-color: #5f6368;
  display: none;
  transition: 0.5s;
}

.inputBox input:focus ~ p {
  display: inline;
  color:#1a73e8;
}

.input:focus::placeholder {
  visibility: hidden;
  font-size: 12px;
  transform: translateY(-30%);
  transition: 0.05s ;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form > p {
  font-size: 14px;
  color: #5f6368;
}

.links {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0;
}

.submit {
  height: 40px;
  width: 80px;
  background-color:#1a73e8;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.show-pass {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.show-pass input {
  width: 18px;
  height: 18px;
}

.show-pass p {
  display: inline;
  padding-left: 20px;
  color: #5f6368;
}

@media screen and (min-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .form {
    width: 451px;
    height: 100%;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
  }
}